
@media (max-width: 428px) {

    .section-configuracoes-user {
        display: flex;
        align-items: center;
        flex-direction: column;
        width: 100%;
        height: 50%;
    }

    .article-img-e-name-user {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        width: var(--screen-size-mobile);
        margin-top: 4em;
        position: unset;
    }

    .about-me-profile-user {
        display: flex;
        /* align-items: center; */
        /* justify-content: center; */
        flex-direction: column;
        text-align: left;
        background-color: var(--quaternaria);
        color: var(--texto);
        padding: 12px;
        width: var(--screen-size-mobile);
        margin-bottom: 2em;
    }

    .div-opcao-settings-profile {
        display: flex;
        position: absolute;
        margin-right: -18em;
        margin-top: -20.5em;
    }

    .opcao-settings-profile i {
        color: var(--texto);
        font-size: 2em;
    }

    .div-img-e-name-user {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        width: 100%;
        gap: 12px;
        user-select: none;
    }
    .div-img-e-name-user i {
        font-size: 2em;
    }
    .div-img-e-name-user img {
        user-select: none;
    }

    .foto-user-config {
        width: 90px;
        height: 90px;
        border-radius: 100%;
        border: none;
        outline: solid 5px var(--secundaria);
        object-fit: fill;
    }

    .name-user-config {
        text-align: center;
        font-weight: bold;
        font-size: 24px;
        color: #ffff;
        width: 80%;
        height: 60px;
    }

    ._section-about-me-profile {
        margin-top: 2em;
    }

    .projects-personal-profile {
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        gap: 1em;
        width: 100%;
        height: auto;
    }

    .project-item-personal {
        border-radius: 5px;
        flex: 0 0 100%;
        height: 200px;
    }

    .section-opcoes-config-profile {
        display: flex;
        align-items: center;
        flex-direction: column;
        background-color: transparent;
        gap: 10px;
        /* overflow-y: visible; */
        overflow: hidden;
        overflow-y: visible;
        width: 100%;
        height: 80%;
        margin-top: 0em;
        margin-bottom: 8em;
    }

    .opcao-config {
        display: flex;
        align-items: center;
        justify-content: space-between;
        background-color: var(--quaternaria);
        font-weight: bold;
        font-size: 16px;
        color: #ffff;
        text-decoration: none;
        gap: 1em;
        width: var(--screen-size-mobile);
        /* height: 70px; */
        border-radius: 20px;
        padding-left: 1em;
        padding-right: 1.6em;
    }

    .opcao-config-select {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: row;
        gap: 1em;
        height: 70px;

    }

    .opcao-config-select p {
        margin-bottom: 0em;
    }

    .opcao-config-select i {
        font-size: 1.5em;
    }
    
}