
@media (max-width: 428px) {

    .div-alert-register {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 2em;
        text-align: center;
    }

    .alert-register {
        font-size: 1em;
        color: var(--texto_miudo);
        width: var(--screen-size-mobile);
        margin-bottom: 0px;
    }

    .div-btn-base {
        margin-top: -1em;
    }

}



