


.alert-info-forms {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 5em;
    background-color: var(--primaria);
    width: auto;
    max-width: var(--screen-size-mobile);
    padding: 1em;
    border-radius: 10px;
}

.alert-success-forms {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 5em;
    background-color: rgb(89, 218, 89);
    width: auto;
    max-width: var(--screen-size-mobile);
    padding: 1em;
    border-radius: 10px;
}

.alert-danger-forms {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 5em;
    background-color: rgb(197, 43, 43);
    width: auto;
    max-width: var(--screen-size-mobile);
    padding: 1em;
    border-radius: 10px;
}

#alert-messages {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    color: var(--texto);
}

@media(max-width: 428px){

        
    .alert-info-forms {
        display: flex;
        justify-content: center;
        align-items: center;
        position: fixed;
        top: 10px;
        background-color: var(--primaria);
        width: auto;
        max-width: var(--screen-size-mobile);
        padding: 1em;
        border-radius: 10px;
    }

    .alert-success-forms {
        display: flex;
        justify-content: center;
        align-items: center;
        position: fixed;
        top: 10px;
        background-color: rgb(89, 218, 89);
        width: auto;
        max-width: var(--screen-size-mobile);
        padding: 1em;
        border-radius: 10px;
    }

    .alert-danger-forms {
        display: flex;
        justify-content: center;
        align-items: center;
        position: fixed;
        top: 10px;
        background-color: rgb(197, 43, 43);
        width: auto;
        max-width: var(--screen-size-mobile);
        padding: 1em;
        border-radius: 10px;
    }

    #alert-messages {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        color: var(--texto);
    }

}
