
.navegation-bar {
    display: none;
}

.comp-header-for-desk {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--quaternaria);
    width: 100%;
    height: 70px;
    position: fixed;
    top: 0px;
    gap: 3.8em;
    z-index: 999;
}

.container-brand-header {
    font-size: 2em;
    color: var(--texto);
    font-weight: bold;
}

.nav-header-no-icon {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2em;
}

.nav-header-no-icon a {
    color: rgb(209, 205, 205);
    text-decoration: none;
}

.nav-header {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1em;
}

.nav-item-header i{
    font-size: 1.7em;
}


.dropdown-header {
    position: relative;
    display: inline-block;
    gap: 1em;
}

.dropdown-header span i {
    width: 100%;
}

.dropdown-header span i {
    font-size: 2.2em;
    color: var(--primaria);
}

.dropdown-header-content {
    display: none;
    /* align-items: left; */
    justify-content: flex-start;
    position: absolute;
    background-color: var(--texto);
    min-width: 120px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    padding: 12px;
    z-index: 1;
    border-radius: 7px;
    width: 230px;
    gap: 1em;
}
.dropdown-header-content a {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 10px;
    width: 100%;
}
.dropdown-header:hover .dropdown-header-content {
    display: flex;
    flex-direction: column;
    margin-left: -3.8em;
}

.dropdown-header-content a{
    font-size: 16px;
    text-decoration: none;
    color: black;
}

.pipe {
    font-size: 25px;
    color: rgb(255, 255, 255);
}

.empresas-vagas {
    color: rgb(255, 255, 255);
    text-decoration: none;
    font-size: 16px;
}
