
.modal {

}
        
.modal-dialog {
}

.modal-content {
    background-color: var(--quaternaria);

}

.modal-header {

}
.modal-header h1 {
    color: var(--texto);
}
.modal-body {
}

.modal-body p {
    color: var(--texto);
}
